  
.left{
    position: absolute;
    left: 60px;
    top: 25px;
    display: inline-block;
  

}
.left img{
    width: 70px;
    filter:invert(100%);
}
.left div{
    text-align: center;
    line-height: 12px;
    font-size: 26px;
}

.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    

}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    

}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 15px 10px;

}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: grey;

}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.container{
   
       margin: 100px 80px;
       padding: 75px;
       width: 33%;
       border-radius: 28px;
}
.form-group{
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 72%;
    margin: auto;
}